@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Fira+Sans+Extra+Condensed:wght@500&family=Oswald:wght@500&family=Pathway+Gothic+One&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

:root {
  --main-color: #303030;
  --secondary-color: #131313;
  --main-text-color: rgb(255, 249, 193);
  --secondary-text-color: #fff;
  --accent-color: gold;
}

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* BASE STYLES */
body {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  background-image: linear-gradient(62deg, #1a2025 0%, #131214 100%);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* NAV */
.nav-container {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  background-color: #131313;
}

.logo {
  padding: 1vh 1vw;
  text-align: center;
}

.logo img {
  height: 8rem;
  width: 8rem;
}

.nav-list {
  display: flex;
  list-style: none;
  margin-right: 2rem;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0 -16px;
}

.nav-list a {
  font-size: 2.7rem;
  margin: 0 16px;
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  font-family: 'Carrois Gothic SC', sans-serif;
  transition: 0.2s;
}

.nav-list a:hover {
  opacity: 0.65;
}

.nav-list li {
  position: relative;
}

/* Styling for hamburger icon */
.hamburger div {
  width: 30px;
  height: 3px;
  background: white;
  margin: 5px;
  transform: all 0.3s ease;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav-container {
    position: fixed;
    z-index: 3;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transform: all 0.7s ease;
  }

  .nav-list {
    position: fixed;
    background: var(--secondary-color);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-list.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-list li {
    opacity: 0;
  }

  .nav-list li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-list li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-list li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-list li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
    margin: 0;
  }

  li.fade {
    opacity: 1;
  }
}

/* Animate Hamburger Icon */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle.line2 {
  transition: all 0.7s ease;
  width: 0;
}

.toggle.line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* WELCOME SECTION */
.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(62deg, #262f36 0%, #131214 100%);
}

.welcome-name {
  position: relative;
  color: #fff;
  font-size: 12rem;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  letter-spacing: 3px;
}

.welcome-desc {
  position: relative;
  color: rgb(173, 173, 173);
  font-size: 4rem;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  bottom: 10px;
}

@media screen and (max-width: 800px) {
  .welcome-name {
    display: flex;
    font-size: 6rem;
    text-align: center;
  }

  .welcome-desc {
    display: flex;
    text-align: center;
    font-size: 2rem;
  }
}

/* Welcome Buttons */
.welcome-btns {
  display: inline-flex;
  justify-content: center;
  padding: 0;
}

.github-btn,
.resume-btn,
.codepen-btn,
.linkedin-btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  margin: 25px;
  margin-top: 100px;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 10px 8px #080808;
  /* background-color: rgb(228, 230, 235); */

  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.github-btn:hover,
.resume-btn:hover,
.codepen-btn:hover,
.linkedin-btn:hover {
  background-color: rgb(228, 230, 235, 0.7);
  transition: 0.4s;
}

.welcome-btns img {
  display: inline-flex;
  height: 40px;
  padding: 1px 5px;
}

@media screen and (max-width: 800px) {
  .welcome-btns {
    display: flex;
    flex-direction: column;
  }
  .github-btn,
  .resume-btn,
  .codepen-btn,
  .linkedin-btn {
    margin-top: 10px;
  }
}

/* PROJECT SECTION */
.project-container {
  padding: 10rem 2rem;
  text-align: center;
  border-top: 5px inset rgb(114, 134, 158);
  border-width: 40%;
}

.project-container h1 {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  max-width: 640px;
  margin: 0 auto 6rem auto;
  font-size: 6rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 5rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .project-container {
    padding: 6rem 1rem;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.project-card {
  border-radius: 2px;
}

.project-title {
  font-family: 'Inter', sans-serif;
  color: rgb(240, 240, 240);
  padding: 10px;
  font-size: 3.5rem;
}

.project-img {
  border: 2px solid rgb(134, 134, 134);
  height: calc(60% - 6.8rem);
  max-width: 100%;
  object-fit: cover;
  box-shadow: 5px 10px 8px #080808;
}

.project-live-demo,
.project-github {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: rgb(0, 0, 0);
  display: inline-flex;
  align-items: center;
  font-size: 2.5rem;
  transition: 0.3s;
}

.project-demo-btn,
.project-github-btn {
  display: inline-flex;
  border-style: none;
  background-color: #edf9ff;
  justify-content: space-between;
  align-content: center;
  padding: 5px;
  margin: 10px 55px;
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: 5px 10px 8px #080808;
}

.project-demo-btn:hover,
.project-github-btn:hover {
  background-color: #080808;
}

.project-live-demo:hover,
.project-github:hover {
  color: white;
}

.project-desc {
  font-family: 'Carrois Gothic SC', sans-serif;
  color: rgb(219, 219, 219);
  font-size: 2rem;
  list-style: disc;
  text-align: left;
  width: 90%;
  word-wrap: wrap;
}

/* About Section */
.about-container {
  padding: 10rem 2rem;
  display: inline-block;
  text-align: center;
  align-content: center;
  box-sizing: border-box;
  margin-bottom: 15rem;
  height: 80vh;
}

.about-container h1 {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 6rem;
}

.about-container p {
  display: inline-block;
  text-align: center;
  margin: 20px;
  color: whitesmoke;
  font-family: 'Inter', sans-serif;
  font-size: 2.5rem;
  width: 60%;
}

/* Music Section */
.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 1rem;
  box-sizing: border-box;
}

.music-container h1 p {
  text-align: center;
}

.music-container h1 {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 6rem;
  margin-bottom: 50px;
}

.music-container p {
  color: whitesmoke;
  font-size: 3rem;
  text-align: center;
  font-family: 'Inter', sans-serif;
  width: 60%;
}

.music-player {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: 15px;
}

/* Responsive Styles */
